body{

    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 80vh;
    width: 100vw;
    background-image: url(../../../../Images/house.jpg);

}

#container {

    text-align: center;
    border: 2px solid black;
    padding: 0px 20px;
    background-color: white;
    border-radius:25px;

}

#story{

    font-size: 40px;
    font-weight: bold;

}